div.meet-container {
  color: #fff;
  width: 90%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

div.meet-container h1 {
  font-size: 3rem;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

div.meet-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

div.meet-description div.meet-text {
  min-width: 530px;
  width: 50%;
}

div.meet-text h1 {
  font-size: 2.6rem;
}

div.meet-description h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-bottom: 2rem;
}

div.meet-description img {
  width: 50%;
  max-width: 500px;
  margin-right: 50px;
}

div.meet-description img:not(:first-child) {
  margin-left: 50px;
  margin-right: 0;
}

div.meet-text.two h2 {
  margin-top: 3rem;
}

div.features {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

div.features h4 {
  font-weight: 500;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.feat-one,
.feat-two,
.feat-three {
  width: 90%;
  max-width: 160px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.oval-div {
  background: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 930px) {
  div.meet-description img {
    display: none;
  }

  div.meet-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  div.features {
    margin-top: 0rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  div.meet-description.start {
    display: none;
  }
}
