div#team-page {
  max-width: 1120px;
  width: 90%;
  min-height: calc(100vh - 70px - 639px);
  padding-top: 40px;
  padding-bottom: 80px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

div#team-page h1 {
  font-size: 34px;
}

h1.title {
  margin-bottom: 30px;
  text-align: center;
}

div#team-page h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

div#team-page h2:not(:first-of-type) {
  margin-top: 60px;
}

div#team-page h2 span {
  margin-right: 5px;
}

@media only screen and (min-width: 530px) {
  div#team-page h1 {
    font-size: 42px;
  }

  div#team-page h2 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 735px) {
  div#team-page {
    min-height: calc(100vh - 70px - 362px);
  }
}
