.app-container {
  color: #fff;
  width: 90%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: none;
}

.app-container.active {
  display: block;
}

.app-container h1 {
  font-size: 3rem;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.app-container .app-description {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2rem;
}

.app-container .app-description img.phone-img {
  width: 50%;
  max-width: 327.63px;
}

.app-container .app-description .app-text {
  width: 50%;
  min-width: 570px;
  margin-right: 50px;
}

.app-container .app-description .app-text .block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container .app-description .app-text .block.three .img-div {
  display: flex;
  justify-content: center;
}

.app-container .app-description .app-text .block.three img {
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.app-container .app-description .app-text h2 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}

.app-container .app-description .app-text h2 {
  margin-top: 2.63rem;
}

.app-container .app-description .app-text .block.one h2 {
  margin-top: 0;
}

.app-container .app-description .app-text h3 {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 600;
}

.app-container .app-description .app-text .block.three h2 {
  margin-bottom: 0;
}

.app-container .app-description .app-text .features {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}

.app-container .app-description .app-text .features h4 {
  font-weight: 500;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.app-container .app-description .app-text .features .feat-one,
.app-container .app-description .app-text .features .feat-two,
.app-container .app-description .app-text .features .feat-three {
  width: 90%;
  max-width: 160px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1593px) {
  div.app-container {
    max-width: 1180px;
  }
}

@media only screen and (max-width: 832px) {
  .app-container .app-description img {
    display: none;
  }

  .app-container .app-description .app-text .block.three img {
    width: 60%;
    cursor: pointer;
    display: unset;
  }

  .app-container .app-description .app-text {
    align-items: center;
    justify-content: start;
  }

  .app-container .app-description .app-text .block.one {
    display: none;
  }
}
