header.toolbar nav {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.toolbar .center-buttons {
  white-space: nowrap;
}

header.toolbar .center-buttons button.speak {
  background: var(--primary);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: all 150ms;
}

header.toolbar .center-buttons button.speak:hover {
  filter: brightness(95%);
}

header.toolbar .center-buttons button.speak:active {
  filter: brightness(80%);
}

header.toolbar .center-buttons button.stop:hover {
  filter: brightness(95%);
}

header.toolbar .center-buttons button.stop:active {
  filter: brightness(80%);
}

header.toolbar .center-buttons button:not(:last-child) {
  margin-right: 10px;
}

header.toolbar .voice {
  display: none;
  font-size: 1em;
  padding: 10px 35px 10px 20px;
  width: 225px;
  margin: 0;
  box-shadow: 2px 2px 4px 0px #00000023;
  border-radius: 19px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #313136;
  background-image: url('../../../images/icons/arrow_right_24px.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 10px top 50%;
  transition: all 150ms;
}

header.toolbar .voice:hover {
  background-color: #3b3b41;
}

header.toolbar .voice::-ms-expand {
  display: none;
}

header.toolbar .voice:focus {
  background-color: #3b3b41;
  outline: none;
}

header.toolbar .speed-container {
  display: none;
  flex-direction: column;
}

header.toolbar .speed-container label {
  margin-bottom: 10px;
  font-size: 16px;
}

input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Styling the Thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type='range']::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  margin: auto;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--primary);
  border-radius: 0px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--primary);
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--primary);
  border-radius: 0px;
}

input[type='range']::-ms-track {
  border: 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--primary);
  border-radius: 0px;
}

input[type='range']::-ms-thumb {
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  margin: auto;
}

header.toolbar div.right-buttons {
  display: flex;
}

header.toolbar .right-buttons .mic-container {
  display: flex;
  align-items: center;
}
header.toolbar .right-buttons .mic-container span {
  display: none;
  width: 160px;
  margin-left: 15px;
  color: #cbcbd3;
}

header.toolbar .right-buttons .mic-container button.mic {
  background: var(--primary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: all 150ms;
}

header.toolbar .right-buttons .mic-container button.mic:hover {
  filter: brightness(95%);
}

header.toolbar .right-buttons .mic-container button.mic:active {
  filter: brightness(80%);
}

header.toolbar div.right-buttons button:last-child {
  margin-left: 26px;
}

header.toolbar .hamburger-btn {
  cursor: pointer;
}

header.toolbar .hamburger-btn .bar {
  width: 25px;
  height: 3px;
  background-color: var(--secondary);
  transition-duration: 0.3s;
}
header.toolbar .hamburger-btn .bar:not(:last-child) {
  margin-bottom: 4px;
}

header.toolbar .settings-overlay {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

header.toolbar .settings-overlay .settings-menu {
  max-width: 220px;
  margin-top: 70px;
  margin-right: 10px;
  margin-left: auto;
  padding: 5px 0;
  background-color: #1d1d1d;

  box-shadow: 0px 2px 4px 1px #00000093;
}

header.toolbar .settings-overlay .settings-menu button {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 15px;
  padding: 10px 15px;
  text-align: left;
}

header.toolbar .settings-overlay .settings-menu button svg {
  margin-right: 12px;
}

header.toolbar .speed-container-overlay {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #00000099;
  padding: 0 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

header.toolbar .speed-container-overlay .mobile-speed-container {
  position: relative;
  width: 100%;
  max-width: 400px;

  background-color: #313136;
  padding: 40px;
  margin-bottom: 100px;
  border-radius: 5px;
  font-size: 18px;
}

header.toolbar .speed-container-overlay .mobile-speed-container h1 {
  text-align: center;
  margin-bottom: 35px;
}

header.toolbar .mic-modal {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #00000099;
  display: none;
  padding: 160px 30px 0;
}

header.toolbar .mic-modal.visible {
  display: block;
}

header.toolbar .mic-modal .modal-content {
  position: relative;
  max-width: 360px;
  margin: auto;
  border-radius: 5px;
  background-color: #313136;
  font-size: 18px;
  animation: slide-in;
  animation-duration: 0.4s;

  padding: 35px 30px;
}

@keyframes slide-in {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

header.toolbar .mic-modal .modal-content svg {
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
}

header.toolbar .mic-modal .modal-content h1 {
  text-align: center;
  margin-bottom: 25px;
}

header.toolbar .mic-modal .modal-content p {
  font-weight: 500;
  margin-bottom: 10px;
}

header.toolbar .mic-modal .modal-content ul {
  margin-left: 20px;
}

header.toolbar .mic-modal .modal-content ul li {
  margin-bottom: 5px;
  list-style: unset;
}

header.toolbar .mic-modal .modal-content ul li:last-child {
  margin: 0;
}

header.toolbar .mic-modal .modal-content p.warning {
  color: var(--primary);
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0;
}

@media only screen and (min-width: 520px) {
  header.toolbar .voice {
    display: block;
  }
}

@media only screen and (min-width: 680px) {
  header.toolbar .speed-container {
    display: flex;
  }

  header.toolbar div.right-buttons button.settings {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  header.toolbar .right-buttons .mic-container span {
    display: block;
  }

  header.toolbar .mic-modal .modal-content {
    padding: 50px 60px;

    max-width: 600px;
  }

  header.toolbar .mic-modal .modal-content h1 {
    font-size: 32px;
  }

  header.toolbar .mic-modal .modal-content p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 900px) {
}

@media only screen and (min-width: 1260px) {
  header.toolbar .hamburger-btn {
    display: none;
  }
}
