div#app {
  display: flex;
  height: 100%;
}

section.workspace {
  width: 100%;
}

section.workspace div.text {
  max-width: 900px;
  margin: 0 auto;
  min-height: calc(100vh - 70px);
  padding: 30px 20px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

section.workspace div.text .saving {
  color: var(--grayMedium);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 5px 6px;
  border-radius: 3px;
  cursor: pointer;
}

section.workspace div.text .saving:hover {
  background: #3f4447;
}

section.workspace div.text .saving svg {
  margin-left: 5px;
  animation: spin;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

section.workspace div.text textarea {
  color: var(--secondary);
  resize: none;
}

section.workspace div.text textarea::placeholder {
  color: #bbbbb96e;
}

section.workspace div.text textarea.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 15px;
}

section.workspace div.text textarea.content {
  font-size: 16px;
  min-height: calc(100vh - 70px - 50px - 39px - 15px);
}

@media only screen and (min-height: 720px) {
  section.workspace div.text {
    padding-top: 35px;
  }

  section.workspace div.text textarea.title {
    margin-bottom: 20px;
  }
}
