div.content {
  height: calc(100vh - 70px);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(250px, 280px) auto;
  grid-template-areas: 'aside content';
  grid-area: content;
}

div.content::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../../assets/svg/circles-small-group.svg);
  background-size: 264px 466px;
  background-position: top left;
  background-repeat: no-repeat;
  transform: rotate(-5deg);
  width: 264px;
  height: 466px;
  bottom: 10px;
  right: 20px;
  left: auto;
  z-index: -1;
}

div.bg-shape-left {
  position: absolute;
  top: 50px;
  left: 290px;
  z-index: -1;
}

div.bg-shape-left::before {
  content: '';
  display: block;
  background-image: url(../../assets/svg/circles-small-group.svg);
  background-size: 264px 466px;
  background-position: top left;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  width: 264px;
  height: 466px;
}

div.content-right {
  width: 90%;
  max-width: 1240px;
  margin: 20px auto;
}

h1.slogan {
  font-weight: 600;
  font-size: 3.125rem;
}

.slogan span.ditey {
  font-weight: 700;
  color: #6a42f4;
}

.slogan span.y-dot {
  color: #ffdd00;
}

.slogan span.r-dot {
  color: #ff0000;
}

.slogan span.g-dot {
  color: #00ff00;
}

section.main {
  margin: 15px 0 20px;
  display: flex;
}

textarea.text-input {
  width: 870px;
  height: 540px;
}

/* media queries */
@media only screen and (max-height: 900px) {
  div.content {
    height: calc(100vh - 70px + 4rem);
  }

  div.content-right {
    margin: 10px auto;
  }

  textarea.text-input {
    height: 520px;
  }
}

@media only screen and (max-width: 1593px) {
  textarea.text-input {
    width: 840px;
  }

  div.content {
    grid-template-columns: minmax(250px, 260px) auto;
  }
}

@media only screen and (max-width: 1366px) {
  div.content {
    grid-template-columns: minmax(220px, 230px) auto;
  }

  textarea.text-input {
    width: 820px;
  }
}

@media only screen and (max-height: 780px) {
  div.content {
    height: calc(100vh - 65px + 5rem);
  }

  div.content-right {
    margin: 5px auto;
  }

  h1.slogan {
    font-weight: 600;
    font-size: 2.9rem;
  }

  section.main {
    margin: 10px 0;
    display: flex;
  }

  textarea.text-input {
    height: 450px;
  }
}

@media only screen and (max-width: 1280px) {
  textarea.text-input {
    width: 780px;
  }
}

@media only screen and (max-height: 655px) {
  textarea.text-input {
    height: 400px;
  }
}

/* @media only screen and (max-width: 1320px) {
  div.content {
    grid-template-columns: minmax(200px, 230px) auto;
  }

  h1.slogan {
    display: none;
  }

  section.main {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 15px 0;
  }

  textarea.text-input {
    width: 100%;
    min-height: 340px;
  }
} */

@media only screen and (max-width: 1006px) {
  div.content {
    display: unset;
  }

  div.content-right {
    margin-top: 20px;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 500px) {
  div.content-right {
    margin: calc(5vh) auto 0 auto;
  }

  textarea.text-input {
    min-height: 300px;
  }
}
