h1.slogan {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1.slogan,
p.sub {
  text-align: center;
}

h1.slogan span {
  color: var(--primary);
}

p.sub {
  font-size: 15px;
}

.primary {
  width: 300px;
  margin-top: 30px;
  padding: 20px 0;
  border-radius: 5px;
  background: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  transition: all 150ms;
  color: #fff;
}

.primary:hover {
  filter: brightness(90%);
}

.primary:active {
  filter: brightness(80%);
}
