div.sidebar-shadow {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #00000099;
  display: none;
}

div.sidebar-shadow.visible {
  display: block;
}

aside.toolbar {
  min-width: 290px;
  height: 100%;
  background: #1e2125;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  z-index: 1;
  transform: translateX(-100%);
  transition: all 0.2s ease;
  overflow: hidden;

  font-size: 15.4px;
}

aside.toolbar.visible {
  transform: translateX(0);
}

aside.toolbar div.profile {
  background: var(--primary);
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

aside.toolbar div.profile .profile-wrapper {
  display: flex;
  align-items: center;
}

aside.toolbar div.profile .profile-wrapper div.profile-img {
  min-width: 40px;
  min-height: 40px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #3b1da3;
}

aside.toolbar div.profile .profile-wrapper div.profile-info {
  max-width: 171px;
}

aside.toolbar div.profile .profile-wrapper div.profile-info h4,
aside.toolbar div.profile .profile-wrapper div.profile-info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

aside.toolbar div.profile .profile-wrapper div.profile-info h4 {
  color: #fff;
}

aside.toolbar div.profile .profile-wrapper div.profile-info p {
  color: #c9c9c9;
}

aside.toolbar div.profile svg {
  margin-left: 15px;
  min-width: 24px;
  min-height: 24px;
  transition: all 300ms;
}

aside.toolbar div.profile svg.up {
  transform: rotate(180deg);
}

aside.toolbar .texts-panel {
  height: calc(100% - 70px);
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside.toolbar .texts-panel button.logout-btn {
  font-size: 15px;
  color: var(--secondary);
  display: flex;
  align-items: center;
  line-height: 2.5;
}

aside.toolbar .texts-panel button.logout-btn:hover {
  text-decoration: underline;
}

aside.toolbar .texts-panel button.logout-btn:active {
  color: #fff;
}

aside.toolbar .texts-panel button.logout-btn svg {
  transform: rotate(180deg);
  margin-right: 10px;
}

aside.toolbar .texts-panel div.texts-list {
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.toolbar div.texts-list h2 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.toolbar div.texts-list h4 {
  font-family: 'Montserrat', sans-serif;
  color: #f0f0f0;
}

.toolbar div.texts-list div.text-item {
  position: relative;
  border-top: 1px solid #a9a7a7;
  padding: 10px 0;
  cursor: pointer;
}

.toolbar div.texts-list div.text-item:last-child {
  border-bottom: 1px solid #a9a7a7;
}

.toolbar div.texts-list div.text-item h4 {
  max-width: calc(100% - 20px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.toolbar div.texts-list div.text-item p {
  line-height: 1.2;
  height: 3.6em;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}
.toolbar div.texts-list div.text-item svg {
  margin-left: 10px;
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 1;
  transition: all 150ms;
}

.toolbar div.texts-list div.text-item svg:hover {
  color: var(--primary);
}

.toolbar div.btn-add-container {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.toolbar div.btn-add-container button {
  width: unset;
  margin: unset;
  padding: 12px 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: all 300ms;
}

.toolbar div.btn-add-container button.off {
  cursor: unset;
  filter: opacity(50%);
}

.toolbar div.btn-add-container button svg {
  margin-right: 5px;
}

aside.toolbar div.brand button.close-btn {
  background: transparent;
}

@media only screen and (min-height: 720px) {
  aside.toolbar .texts-panel {
    padding: 15px 15px 10px;
  }

  .toolbar div.texts-list h2 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1260px) {
  div.sidebar-shadow.visible {
    display: none;
  }

  aside.toolbar.visible {
    position: relative;
    transform: translateX(0);
  }
}
