aside.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 1;
  width: 280px;
  height: 100%;
  display: block;
  background: var(--background);
  transition: all 0.2s ease;
}

aside.toolbar.visible {
  transform: translateX(0);
}

aside.toolbar div.profile {
  background: var(--primary);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside.toolbar div.profile div.profile-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #f2f2f2;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-bottom: 10px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #3b1da3;
}

aside.toolbar div.profile div.profile-button {
  cursor: pointer;
  padding: 0 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside.toolbar div.profile div.profile-info {
  overflow: hidden;
}

aside.toolbar div.profile div.profile-info h4,
aside.toolbar div.profile div.profile-info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

aside.toolbar div.profile div.profile-info h4 {
  color: #fff;
}

aside.toolbar div.profile div.profile-info p {
  color: #c9c9c9;
}

aside.toolbar div.profile div.profile-button button {
  /* padding: 10px 15px 10px; */
}

aside.toolbar div.brand button.close-btn {
  background: transparent;
}

aside.toolbar div.texts-list {
  padding: 10px 15px;
}
