header {
    height: 70px;
    /* background: #6A42F4; */
    background-image: linear-gradient(to right, #6A42F4, #6A42F4, #4e42f4);
    color: #fff;
    padding: 0 140px;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 4px 20px 0 #474747;
    justify-content: space-between;
}


ul.nav-links {
    width: 100%;
    display: flex;
}


li.nav-item {
    margin-left: 20px;
    text-align: center;
}

a.nav-link {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(224, 216, 252);
    position: relative;
    transition: all 150ms linear 0s;
}

.logo{
   color: #fff;
}

.logo-brand {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px #0000006b;
}

/* Media Query */
@media screen and (max-width: 890px) {
    ul.nav-links {
        display: none;
    }

    .line {
        width: 30px;
        box-shadow: 0 0 4px 0 #00000075;
        height: 3px;
        border-radius: 1px;
        background-color: #fff;
        margin: 5px;
    }

    .hamburger {
        cursor: pointer;
    }
}

/* Animaçoes */
a.nav-link:hover {
    color: #fff;
}

a.nav-link::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 1px;
    opacity: 0;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.2s ease;
}

a.nav-link:hover::after, button:focus::after {
    opacity: 100%;
    bottom: -4px;
}