header {
  height: 70px;

  background: var(--black);
  font-size: 15px;
}

header nav {
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.menu-container nav a.logo {
  display: unset;
  line-height: unset;
}

header.menu-container nav div.right-links {
  display: flex;
}

header.menu-container nav div.right-links a:not(:last-child) {
  margin-right: 32px;
  display: none;
}

.hamburger-btn {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--secondary);
  transition-duration: 0.3s;
}
.bar:not(:last-child) {
  margin-bottom: 4px;
}

header.menu-container div.sidebar-shadow {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #00000099;
  display: none;
}

header.menu-container div.sidebar-shadow.visible {
  display: block;
}

@media only screen and (min-width: 500px) {
  div.hamburger-btn {
    display: none;
  }

  header.menu-container nav div.right-links a:not(:last-child) {
    display: initial;
  }
}
