aside {
    grid-area: aside;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom right, #6a42f4, #6a42f4, #4b23d8);
}

.title, .btn-add {
    color: #fff;
}

.title {
    font-size: 20px;
    letter-spacing: 0.4px;
}

.btn-add {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    background-color: #6A42F4;
    font-size: 28px;
    line-height: 28px;
    margin: 10px 0 15px 0;
    cursor: pointer;
    transition: all ease 150ms;
}

.btn-add:hover {
    border: 2px solid #cfcfcf;
    color: #cfcfcf;
}

div.text-container {
    width: 100%;
    height: 125px;
    border: 2px solid #707070;
    border-radius: 20px;
    background: #fff;
    margin-bottom: 15px;
    position: relative;
}

div.text-container.active {
    border: 2px solid #4285F4;
}

div.text {
    width: 100%;
    font-size: 15px;
    flex: 1;
    cursor: pointer;
    padding: 18px 15px 84px;
}

div.text.active {
    cursor: default;
}

p.text-preview {
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis;
}

button.trash {
    position: absolute;
    left: 15px;
    bottom: 18px;
    background: transparent;
}

button.trash:hover .trash-icon {
    color: #4285F4;
}

button.trash-disable {
    display: none;
}
.trash-icon {
    color: #757575;
    transition: all 150ms;
}


/* REACT-TRANSITION-GROUP */
/* .animated-enter {
    opacity: 0;
}

.animated-enter-active {
opacity: 1;
transition: opacity 300ms;
}

.animated-exit {
opacity: 1;
}

.animated-exit-active {
opacity: 0;
transition: opacity 300ms;
} */