footer {
  margin-top: 2rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  color: #fff;
  background: linear-gradient(to right, #50089c, #5b0faf, #6714c4, #7219d6);
  position: relative;
}

footer::before {
  content: '';
  display: block;
  background: url('../../assets/waves/footer-wave.svg') top no-repeat;
  width: 100%;
  position: absolute;
  height: 15rem;
  background-size: 100vw;
  top: -11rem;
}

div.footer-container {
  width: 90%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

div.list-container {
  width: 25%;
}

div.list-container.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.list-container div {
  width: 70%;
}

div.list-container .list-title {
  font-size: 1.125rem;
  font-weight: 600;
}

div.list-container div {
  margin-top: 5px;
}

div.list-container a {
  font-weight: 500;
  display: block;
  color: #ffffff96;
  cursor: pointer;
  line-height: 1.85;
}

div.list-container.logo a {
  line-height: unset;
}

div.list-container a:hover {
  color: #fff;
}

div.list-container .footer-logo {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px #0000006b;
}

div.list-container p.copyright {
  text-align: center;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1360px) {
  footer {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  footer::before {
    height: 15rem;
    top: -10rem;
  }
}

@media only screen and (max-width: 1006px) {
  footer {
    display: none;
  }
}

@media only screen and (max-height: 800px) {
  footer::before {
    top: -10rem;
  }

  footer {
    margin-top: 2rem;
  }
}
