footer {
  background: var(--black);
  font-size: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo-container img {
  width: 130px;
}

footer .logo-container span {
  font-weight: 500;
  margin-top: 10px;
}

footer .logo-container p.copyright {
  margin-top: 15px;
  align-self: flex-start;
}

footer .links {
  margin-top: 24px;
}

footer .links h4 {
  font-size: 16px;
  padding-bottom: 5px;
}

footer .links a {
  display: block;
  line-height: 2.2;
}

.links a:hover {
  text-decoration: underline;
}

.links a:active {
  color: white;
}

.links a div.link-container {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 735px) {
  footer {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  footer .footer-container {
    width: 90%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
  }

  footer .logo-container span {
    text-align: center;
  }

  footer .logo-container p.copyright {
    align-self: unset;
  }

  footer .links {
    margin-top: 0;
  }
}
