footer {
  background: var(--black);
  font-size: 15px;
  padding: 20px;
}

footer .footer-container {
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container p.copyright {
  margin-top: 10px;
  text-align: center;
}

.links a {
  display: block;
  line-height: 2.5;
}

.links a:hover {
  text-decoration: underline;
}

.links a:active {
  color: white;
}

.links a div.link-container {
  display: flex;
  align-items: center;
}

.links a div.link-container svg {
  margin-right: 10px;
}

.links a div.link-container svg.up-icon {
  transform: rotate(180deg);
}
