* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6a42f4;
  --black: #1a1a1a;
  --background: #242424;
  --blackLighter: #9e9e9e;
  --secondary: #e1e1e6;
  --grayMedium: #999999;
}

body {
  background: var(--background);
}

#root,
body,
html {
  height: 100vh;
}

main {
  max-width: 1120px;
  width: 90%;
  min-height: 80vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main p {
  font-size: 15px;
}

main a.link:hover {
  text-decoration: underline;
}
main a.link:active {
  color: #7e5ef5;
}

body {
  color: var(--secondary);
}

body,
input,
textarea,
select,
button {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
select,
button {
  color: #fff;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

li {
  list-style: none;
}

button {
  border: 0;
  cursor: pointer;
}

.primary {
  width: 300px;
  margin-top: 30px;
  padding: 20px 0;
  border-radius: 5px;
  background: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  transition: all 150ms;
  color: #fff;
}

.primary:hover {
  filter: brightness(90%);
}

.primary:active {
  filter: brightness(80%);
}
