@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body, button {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #E9E6E1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}