section.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 74%;
  max-width: 870px;
}

div.ajusts {
  display: flex;
}

div.speed-container {
  margin-right: 2rem;
  width: 150px;
}

div.voice-container {
  width: 230px;
}

.speed-label {
  color: #ff3366;
  font-size: 1.31rem;
  font-weight: 600;
  white-space: nowrap;
  margin-bottom: 2px;
}

button.speak {
  background: #ff3366;
  margin-left: 10px;
  padding: 12px 13px;
  font-size: 1.43rem;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  border-radius: 4px;
  transition: all ease 150ms;
}

button.speak:hover {
  filter: opacity(75%);
}

button.speak:first-child {
  margin-left: 0;
}

.icon {
  margin-right: 10px;
}

@media only screen and (max-width: 1593px) {
  section.settings {
    max-width: 840px;
  }
}

@media only screen and (max-height: 780px) {
  button.speak {
    background: #ff3366;
    margin-left: 10px;
    padding: 10px 12px;
    font-size: 1.43rem;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
    border-radius: 4px;
    transition: all ease 150ms;
  }
}

@media only screen and (max-width: 1280px) {
  section.settings {
    width: 76%;
    max-width: 700px;
  }

  div.speed-container {
    width: 130px;
  }
}

@media only screen and (max-width: 900px) {
  div.voice-container {
    width: 160px;
  }
}
@media only screen and (max-width: 780px) {
  section.settings {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  section.settings {
    align-items: flex-start;
  }

  div.actions {
    display: flex;
  }

  div.voice-container {
    display: none;
  }
}
